## CENIPA

## Importando bibliotecas

In [44]:
import pandas as pd 
import pandera as pa

### Lendo o dataset

#### Tarefas feitas <br/>
- Lendo o dataset separado por virgula <br/>
- Convertendo ocorrencia_dia para data <br/>
- Colocando o primeiro dia como verdadeiro

In [45]:

df = pd.read_csv("data\ocorrencia_2010_2020.csv", sep=";", parse_dates=['ocorrencia_dia'],dayfirst=True)
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
5,39807.0,39807.0,INCIDENTE,SALVADOR,BA,****,2010-01-06,17:53:00,0.0
6,40215.0,40215.0,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0.0
7,39707.0,39707.0,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09,12:30:00,3.0
8,39156.0,39156.0,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2.0
9,39711.0,39711.0,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10,20:00:00,0.0

In [46]:
ocorrencia=df.copy()

In [47]:
schema = pa.DataFrameSchema(
    columns={
        "codigo_ocorrencia":pa.Column(pa.Int)
    }
)

### Tipos de dados no dataset

df.dtypes <br/>
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)   
    }
)

In [48]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia": pa.Column(pa.Int,required=False),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        # restrigindo tamanho minimo e maximo na coluna
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        #expressão regular para hora
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)   
    }
)

### Limpeza

In [49]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [50]:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [51]:
#linha 3
df.loc[3]

codigo_ocorrencia                       39527.0
codigo_ocorrencia2                      39527.0
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade            LUCAS DO RIO VERDE
ocorrencia_uf                                MT
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-04 00:00:00
ocorrencia_hora                        17:30:00
total_recomendacoes                         0.0
Name: 3, dtype: object

In [52]:
# da linha 1 a 3 
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0

In [53]:
#passar lista de linhas 
df.loc[[10,40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789.0,39789.0,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0.0
40,39158.0,39158.0,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0.0

In [87]:
# Trazer ocorrencias unicas de cidade
df.loc[:,'ocorrencia_cidade'].unique()

array(['RIO DE JANEIRO', 'BELÉM', 'LUCAS DO RIO VERDE', ..., 'MATO RICO',
       'VICENTINA', nan], dtype=object)

#### Verificando se é unico

In [55]:
df.codigo_ocorrencia.is_unique

True

In [56]:
df.set_index('codigo_ocorrencia', inplace = True)

In [57]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [58]:
df.loc[40211]

codigo_ocorrencia2                      40211.0
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        12:00:00
total_recomendacoes                         0.0
Name: 40211.0, dtype: object

#### Resetar o index

In [59]:
df.reset_index(drop=True, inplace=True)

In [60]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
1,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [61]:
df.loc[0,'ocorrencia_aerodromo'] = ''

In [62]:
df.head(1)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0.0

#### Alterar os dados de uma coluna

In [63]:
df.loc[:, 'total_recomendacoes'] = 10

In [64]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,10
1,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,10
2,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,10
3,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,10
4,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,10
...,...,...,...,...,...,...,...,...
5748,79757.0,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,10
5749,79802.0,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,10
5750,79756.0,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,10
5751,79844.0,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,10
5752,NaN,NaN,NaN,NaN,NaN,NaT,NaN,10

In [65]:
df.loc[df.ocorrencia_uf == 'SP',['ocorrencia_classificacao'] ] = 'GRAVE'

In [66]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,10
1,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,10
2,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,10
3,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,10
4,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,10
...,...,...,...,...,...,...,...,...
5748,79757.0,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,10
5749,79802.0,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,10
5750,79756.0,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,10
5751,79844.0,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,10
5752,NaN,NaN,NaN,NaN,NaN,NaT,NaN,10

In [67]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
11,40069.0,GRAVE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,10
16,39809.0,GRAVE,SÃO PAULO,SP,****,2010-01-15,15:00:00,10
18,39828.0,GRAVE,SANTOS,SP,****,2010-01-15,17:45:00,10
26,39847.0,GRAVE,SOROCABA,SP,****,2010-01-20,13:10:00,10
27,39768.0,GRAVE,CAMPINAS,SP,****,2010-01-21,20:45:00,10
...,...,...,...,...,...,...,...,...
5704,79739.0,GRAVE,SÃO PAULO,SP,SBSP,2020-12-03,14:42:00,10
5705,79705.0,GRAVE,SOROCABA,SP,SDCO,2020-12-04,15:30:00,10
5715,79718.0,GRAVE,SÃO PAULO,SP,SBMT,2020-12-11,13:50:00,10
5742,79800.0,GRAVE,SÃO PAULO,SP,SBMT,2020-12-28,10:15:00,10
5747,79804.0,GRAVE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,10

In [68]:
ocorrencia.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

# limpar sujeira abaixo
ocorrencia_uf **
ocorrencia_aerodromo ****
ocorrencia_aerodromo ###!

In [69]:
ocorrencia.loc[ocorrencia.ocorrencia_aerodromo == '****',['ocorrencia_aerodromo']] = pd.NA

In [70]:
ocorrencia.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [71]:
ocorrencia.replace(['**','####!','*****','****','###!', 'NULL'],pd.NA, inplace=True )

In [72]:
ocorrencia.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [73]:
#somar quantos dados sem valores temos
ocorrencia.isna().sum()

codigo_ocorrencia              1
codigo_ocorrencia2             1
ocorrencia_classificacao       1
ocorrencia_cidade              1
ocorrencia_uf                  2
ocorrencia_aerodromo        2337
ocorrencia_dia                 1
ocorrencia_hora                2
total_recomendacoes            1
dtype: int64

In [74]:
ocorrencia.fillna(0)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,0,2010-01-03 00:00:00,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,0,2010-01-04 00:00:00,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
5748,79757.0,79757.0,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,0,2020-12-30 00:00:00,18:30:00,0.0
5749,79802.0,79802.0,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,0.0
5750,79756.0,79756.0,INCIDENTE GRAVE,VICENTINA,MS,0,2020-12-31 00:00:00,09:00:00,0.0
5751,79844.0,79844.0,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,0.0
5752,0.0,0.0,0,0,0,0,0,0,0.0

In [75]:
ocorrencia['total_recomendacoes_bkp']=ocorrencia.total_recomendacoes

In [76]:
ocorrencia.head(5)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,total_recomendacoes_bkp
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0,0.0

In [77]:
#excluir coluna
ocorrencia.drop(['total_recomendacoes_bkp'], axis=1,inplace=True)

In [78]:
ocorrencia.dtypes

codigo_ocorrencia                  float64
codigo_ocorrencia2                 float64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                float64
dtype: object

In [79]:
ocorrencia.dropna()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
6,40215.0,40215.0,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0.0
8,39156.0,39156.0,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2.0
...,...,...,...,...,...,...,...,...,...
5743,79824.0,79824.0,ACIDENTE,RIO PARANAÍBA,MG,SNRP,2020-12-28,17:00:00,0.0
5746,79769.0,79769.0,INCIDENTE GRAVE,MANOEL URBANO,AC,SIMB,2020-12-29,18:30:00,0.0
5747,79804.0,79804.0,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0.0
5749,79802.0,79802.0,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0.0
5751,79844.0,79844.0,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0.0

In [80]:
ocorrencia

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
5748,79757.0,79757.0,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0.0
5749,79802.0,79802.0,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0.0
5750,79756.0,79756.0,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0.0
5751,79844.0,79844.0,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0.0
5752,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [81]:
ocorrencia.dropna(subset=['ocorrencia_uf'])

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
5747,79804.0,79804.0,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0.0
5748,79757.0,79757.0,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0.0
5749,79802.0,79802.0,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0.0
5750,79756.0,79756.0,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0.0
5751,79844.0,79844.0,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0.0

In [82]:
ocorrencia

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
5748,79757.0,79757.0,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0.0
5749,79802.0,79802.0,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0.0
5750,79756.0,79756.0,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0.0
5751,79844.0,79844.0,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0.0
5752,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [83]:
# dropar linhas duplicadas 
ocorrencia.drop_duplicates(inplace=True)

In [84]:
ocorrencia

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
5748,79757.0,79757.0,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0.0
5749,79802.0,79802.0,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0.0
5750,79756.0,79756.0,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0.0
5751,79844.0,79844.0,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0.0
5752,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [85]:
ocorrencia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5753 entries, 0 to 5752
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   codigo_ocorrencia         5752 non-null   float64
 1   codigo_ocorrencia2        5752 non-null   float64
 2   ocorrencia_classificacao  5752 non-null   object
 3   ocorrencia_cidade         5752 non-null   object
 4   ocorrencia_uf             5751 non-null   object
 5   ocorrencia_aerodromo      3416 non-null   object
 6   ocorrencia_dia            5752 non-null   datetime64[ns]
 7   ocorrencia_hora           5751 non-null   object
 8   total_recomendacoes       5752 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 449.5+ KB